.jsvm--com {
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	-ms-user-drag: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;

    /*
      "font-family" and "font-size" should be
      set in "jsvm__app" for each application.
     */
}

.jsvm--txt {
	-ms-user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;

	-ms-user-drag: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;

	resize: none;
	outline: none;
	overflow: auto;
}

.jsvm--full-w {
    width: 100%;
}

.jsvm--full-h {
    height: 100%;
}

.jsvm--noborder {
    border: 0 none transparent;
}

.jsvm--nomargin {
    margin: 0;
}

.jsvm--nopadding {
    padding: 0;
}

.jsvm--nombp {
    margin: 0;
    border: 0 none transparent;
    padding: 0;
}

input::-ms-clear{ display: none; }

.jsvm--font {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.jsvm__body {
    background-color: #FFFFFF;
    overflow: hidden;
}

.jsvm__entry {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0 none transparent;
    background-color: transparent;
}
