.menuGeneral,.menuGeneral_0 {
    border:1px solid #e6e6e6;
    background-color:#FFFFFF;
    width:150px;
}

.menuGeneral_item,.menuGeneral_item_0, .menuGeneral_item_2, .menuGeneral_item_1,.menuGeneral_item_3 {
    height: 20px;
    cursor:default;
    overflow:hidden;
    background-color:#EEEEEE;
}

.menuGeneral_item_2 {
    background-color:#ffdf7c;
}

.menuGeneral_item_1,.menuGeneral_item_3 {
    color: #CCCCCC;
}

.menuGeneral_separator,.menuGeneral_separator_0 {
    height: 1px;
    background-color:#CCCCCC;
}

.menuGeneral_item_marker,.menuGeneral_item_marker_0, .menuGeneral_item_marker_4 {
    width: 18px;
    height:20px;
    background-color: #CCCCCC;
    margin-right: 2px;
}

.menuGeneral_item_marker_4 {
    width: 18px;
    height:20px;
    background-color: #CCCCCC;
    background-image: url("images/mark.png");
    background-repeat: no-repeat;
    background-position:center;
}

.menuGeneral_item_icon,.menuGeneral_item_icon_0,.menuGeneral_item_icon_1 {
    width: 0px;
    height:16px;
    margin-right: 2px;
}

.menuGeneral_item_label,.menuGeneral_item_label_0,.menuGeneral_item_label_1 {
    height: 16px;
    overflow: hidden;
 text-overflow: ellipsis;
    cursor: default;
}

.menuGeneral_item_ctrl,.menuGeneral_item_ctrl_0 {
    width: 16px;
    height:16px;
    background-image: url("images/expand.gif");
    background-repeat: no-repeat;
    background-position:center;
}

.menuGeneral_item_shadow{
    background:#ffffff;
    border-bottom:#666666;
    border-right:#666666;
    border-top:#666666;
    -webkit-box-shadow: 5px 5px 6px #555555;
    box-shadow: 5px 5px 6px #555555;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#555555', Direction=135, Strength=5);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.menuChart,.menuChart_0 {
    border:1px solid #e6e6e6;
    background-color:#FFFFFF;
    width:200px;
}

.menuChart_item,.menuChart_item_0, .menuChart_item_2, .menuChart_item_1,.menuChart_item_3 {
    height: 20px;
    cursor:default;
    overflow:hidden;
    background-color:#EEEEEE;
}

.menuChart_item_2 {
    background-color:#ffdf7c;
}

.menuChart_item_1,.menuChart_item_3 {
    color: #CCCCCC;
}

.menuChart_separator,.menuChart_separator_0 {
    height: 1px;
    background-color:#CCCCCC;
}

.menuChart_item_marker,.menuChart_item_marker_0, .menuChart_item_marker_4 {
    width: 18px;
    height:20px;
    background-color: #CCCCCC;
    margin-right: 2px;
}

.menuChart_item_marker_4 {
    width: 18px;
    height:20px;
    background-color: #CCCCCC;
    background-image: url("images/mark.png");
    background-repeat: no-repeat;
    background-position:center;
}

.menuChart_item_icon,.menuChart_item_icon_0,.menuChart_item_icon_1 {
    width: 16px;
    height:16px;
    margin-right: 2px;
}

.menuChart_item_label,.menuChart_item_label_0,.menuChart_item_label_1 {
    height: 16px;
    overflow: hidden;
 text-overflow: ellipsis;
    cursor: default;
}

.menuChart_item_ctrl,.menuChart_item_ctrl_0 {
    width: 16px;
    height:16px;
    background-image: url("images/expand.gif");
    background-repeat: no-repeat;
    background-position:center;
}

.menuChart_item_shadow{
    background:#ffffff;
    border-bottom:#666666;
    border-right:#666666;
    border-top:#666666;
    -webkit-box-shadow: 5px 5px 6px #555555;
    box-shadow: 5px 5px 6px #555555;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#555555', Direction=135, Strength=5);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.menuChart_item_input {
    margin: 0px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

.menusub,.menusub_0 {
    border:1px solid #e6e6e6;
    background-color:#FFFFFF;
    width:200px;
}

.menusub_item,.menusub_item_0, .menusub_item_2, .menusub_item_1,.menusub_item_3 {
    height: 20px;
    cursor:default;
    overflow:hidden;
    background-color:#EEEEEE;
}

.menusub_item_2 {
    background-color:#ffdf7c;
}

.menusub_item_1,.menusub_item_3 {
    color: #CCCCCC;
}

.menusub_separator,.menusub_separator_0 {
    height: 1px;
    background-color:#CCCCCC;
}

.menusub_item_marker,.menusub_item_marker_0, .menusub_item_marker_4 {
    width: 18px;
    height:20px;
    background-color: #CCCCCC;
    margin-right: 2px;
}

.menusub_item_marker_4 {
    width: 18px;
    height:20px;
    background-color: #CCCCCC;
    background-image: url("images/mark.png");
    background-repeat: no-repeat;
    background-position:center;
}

.menusub_item_icon,.menusub_item_icon_0,.menusub_item_icon_1 {
    width: 0px;
    height:0px;
    margin-right: 0px;
}

.menusub_item_label,.menusub_item_label_0,.menusub_item_label_1 {
    height: 16px;
    overflow: hidden;
 text-overflow: ellipsis;
    cursor: default;
}

.menusub_item_ctrl,.menusub_item_ctrl_0 {
    width: 16px;
    height:16px;
    background-image: url("images/expand1.gif");
    background-repeat: no-repeat;
    background-position:center;
}

.menusub_item_shadow{
    background:#ffffff;
    border-bottom:#666666;
    border-right:#666666;
    border-top:#666666;
    -webkit-box-shadow: 5px 5px 6px #555555;
    box-shadow: 5px 5px 6px #555555;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#555555', Direction=135, Strength=5);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/*** New Filter style Begin ****/
.filter_body {
    width: 140px;
    background-color: transparent;
    color: #000000;
    float: left;
}
.filter_body_border {
    border: 1px solid #808080;
    width: 140px;
    background-color: transparent;
    color: #000000;
    margin-left: 2px;
    /*float: left;*/
    margin-right: 2px;
}
.filter_content {
    width: 140px;
    float: left;
}
.filter_content_item{
    line-height: 13px;
    padding-left: 3px;
    white-space: nowrap;
    cursor: pointer;
}
.filter_content_selected{
    padding-left: 3px;
    white-space: nowrap;
    cursor: pointer;
    background:#FFB56A;
}
.filter_content_multiSelected{
    padding-left: 3px;
    white-space: nowrap;
    cursor: pointer;
    background:#FFE7A2;
}
.filter_content_item_cascading{
    padding-left: 3px;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
}
.filter_content_item_unavailable{
    padding-left: 3px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #dddddd;
    color: #666666;
}
.filter_title{
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #808080;
    background-position: left center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    height: 17px;
    cursor: default;
}
.filter_title_label{
    padding-left: 2px;
}
.filterForDashUI_content {
    width: 140px;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(207, 202, 202);
    border-style: solid;
}
.filterForStudioUI_content {
    width: 140px;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.filterForDashUI_title,
.filterForStudioUI_title{
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: transparent;
    background-position: left center;
    color: black;
    font-weight: bold;
    font-style: normal;
    height: 17px;
    cursor: default;
}
.filterForDashUI_title_button_search {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/zoom_black.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.filterForDashUI_title_button_clear {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/clean_black.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.buildInFilter_title_button_search {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/search_studio.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.buildInFilter_title_button_clear {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/build-in-filter_clear.gif");
    background-repeat: no-repeat;
    background-position: center center;
}
.buildInFilter_title_button_remove {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/filter_close.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.studioFilter_title_button_search {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/search_studio_panel.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.studioFilter_title_button_clear {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/filter_clear.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.studioFilter_title_button_remove {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/filter_close.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.filter_title_button_search {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/zoom_white.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.filter_title_button_clear {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/clean_white.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.filter_title_button_reset {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/filter-reset.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.filter_title_button_reverse {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/filter-reverse.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.filter_title_button_edit {
    float:right;
    line-height: 14px;
    height: 18px;
    width: 18px;
    background-image: url("images/icon-insert-field-column.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.filterForDashUI_title_button_search:hover,
.filterForDashUI_title_button_clear:hover,
.studioFilter_title_button_search:hover,
.studioFilter_title_button_clear:hover,
.studioFilter_title_button_remove:hover,
.filter_title_button_search:hover,
.filter_title_button_clear:hover,
.filter_title_button_reset:hover,
.filter_title_button_reverse:hover,
.filter_title_button_edit:hover,
.buildInFilter_title_button_search:hover,
.buildInFilter_title_button_clear:hover,
.buildInFilter_title_button_remove:hover {
    background-color: #ffe6a3;
    line-height: 14px;
    cursor: pointer;
}
.filter_searchPanel_body {
    border: 1px solid #565656;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #CCCCCC;
    background-position: left center;
    height: 17px;
    width: 180px;
}
.filter_searchPanel_searchCtrl {
    left: 2px;
    float: left;
    background-color:#FFFFFF;
    color: #989899;
    height: 14px;
    width: 103px;
}
.filter_searchPanel_searchCtrl_input {
    float: left;
    background-color:#FFFFFF;
    color: #989899;
}
.filter_searchPanel_btnClose {
    float:left;
    height: 16px;
    background-color: #FFFFFF;
    background-image: url("images/close_filter.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    border: 1px solid #FFFFFF;
}
.filter_searchPanel_btnArrow {
    float:left;
    height: 16px;
    background-color: #FFFFFF;
    background-image: url("images/arrow2.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 4px;
    padding-right: 3px;
    padding-left: 3px;
    border: 1px solid #FFFFFF;
}
.filter_searchPanel_btnPrev {
    float:left;
    height: 16px;
    line-height: 14px;
    margin-bottom: 2px;
    border: 1px solid #BCBCBC;
    background-color: #ffffff;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    background-image: url("images/search_previous.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 6px;
}
.filter_searchPanel_btnNext {
    float:left;
    height: 16px;
    line-height: 14px;
    margin-bottom: 2px;
    border: 1px solid #BCBCBC;
    background-color: #ffffff;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    background-image: url("images/search_next.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 6px;
}
.filter_searchPanel_btnClose:hover,
.filter_searchPanel_btnArrow:hover,
.filter_searchPanel_btnPrev:hover,
.filter_searchPanel_btnNext:hover {
    border: 1px solid #FFbd89;
    background-color: #ffe6a3;
    cursor: pointer;
}
/*** New Filter style End ****/
.filter_item_content{
    cursor:pointer;
}
.filtersearchPanel{
    border: 1px solid #565656;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #CCCCCC;
    background-position: left center;
    height: 17px;
    width: 180px;
}
.filter_border {
    border: 1px solid #BCBCBC;
    width: 140px;
    background-color: #FFFFFF;
    margin-left: 2px;
    padding-left: 2px;
    float: left;
    margin-right: 4px;
}
.filtersearch_input{
    float:left;
}
li {
    list-style-type:none;
}
.filtersearch_input_box{
    float: left;
    height: 14px;
    width: 103px;
    color: #989899;
    background-color: #FFFFFF;
    border: 0px none #BCBCBC;
}
.filtersearch_button_close{
    float:left;
    height: 14px;
    line-height: 14px;
    background-color: #FFFFFF;
    background-image: url("images/close_filter.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    border: 1px solid #FFFFFF;
}
.highlight{
    background:#ffff66;
}
.highlight_make{
    background:#ff9933;
}
.filtersearch_button_close:hover{
    float:left;
    height: 14px;
    background-color: #ffe6a3;
    line-height: 14px;
    cursor: pointer;
    border: 1px solid #FFbd89;
}
.filtersearch_button_arrow:hover{
    float:left;
    height: 14px;
    background-color: #ffe6a3;
    line-height: 14px;
    cursor: pointer;
    border: 1px solid #FFbd89;
}
.filtersearch_button_arrow{
    float:left;
    height: 14px;
    line-height: 14px;
    background-color: #FFFFFF;
    background-image: url("images/arrow2.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 4px;
    padding-right: 3px;
    padding-left: 3px;
    border: 1px solid #FFFFFF;
}
.filtersearch_prev{
    float:left;
    height: 16px;
    line-height: 14px;
    margin-bottom: 2px;
    border: 1px solid #BCBCBC;
    background-color: #ffffff;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    background-image: url("images/search_previous.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 6px;
}
.filtersearch_next{
    float:left;
    height: 16px;
    line-height: 14px;
    margin-bottom: 2px;
    border: 1px solid #BCBCBC;
    background-color: #ffffff;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    background-image: url("images/search_next.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 6px;
}
.filtersearch_prev:hover{
    float:left;
    height: 16px;
    line-height: 14px;
    margin-bottom: 2px;
    border: 1px solid #FFbd89;
    background-color: #ffe6a3;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}
.filtersearch_next:hover{
    float:left;
    height: 16px;
    line-height: 14px;
    margin-bottom: 2px;
    border: 1px solid #FFbd89;
    background-color: #ffe6a3;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}
.filterTitlePanel{
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #CCCCCC;
    background-position: left center;
    height: 17px;
}
.filter_button{
    padding-top:3px;
    float:right;
    line-height: 14px;
    height: 100%;
    width:20px;
}
.filter_button:hover{
    background-color: #ffe6a3;
    line-height: 14px;
    cursor: pointer;
}
.filter_selected{
    background:#FFB56A;
}
.filter_multi_selected{
    background:#FFE7A2;
}

.unavailable_filter_item{
    background-color: #dddddd;
    color: #666666;
}

/*** Table pagination style Begin ****/
.tableNavigationButton_0 {
    width:18px;
    height: 18px;
    cursor:default;
    padding: 0;
}
.tableNavigationButton_icon {
    width:16px;
    height: 16px;
}

.tableNavigationButton_2 {
    cursor:default;
    background-color: #f7fafd;
    padding: 0;
}

.tableNavigation_btnEffect_normal{
    border: 1px solid transparent;
    background-color: transparent;
}

.tableNavigation_btnEffect_hover{
    border: 1px solid #5a80a0;
    background-color: transparent;
}

.tableNavigation{
    height: 18px;
    width:156px;
    padding: 0 2px 0 2px;
    margin:4px 0 4px 0;
    background-color: #ffffff;
}
.tableNavigation_0{
    height: 18px;
    width:156px;
    padding: 0 2px 0 2px;
    margin:4px 0 4px 0;
    background-color: #ffffff;
}

.tableNavigation_label_0,tableNavigation_label_2{
    font-size: 11px;
    width: 18px;
    height:18px;
    padding: 0 0 0 0;
}

.tableNavigation_input {
    width: 52px;
    height: 16px;
    padding: 0px;
    font-size: 11px;
    border: 1px solid #abadb3;
    overflow: hidden;
}

.tableNavigation_input_0 {
    width: 52px;
    height: 16px;
    padding: 0px;
    font-size: 11px;
    border: 1px solid #abadb3;
    overflow: hidden;
}

/*** Table pagination style End ****/

/** Montion slider **/
.montionplayer {
    border: 0px solid #999999;
}

.montionplayer_btnplay, 
.montionplayer_btnplay_0,
.montionplayer_btnplay_1,
.montionplayer_btnplay_2,
.montionplayer_btnplay_4,
.montionplayer_btnplay_5,
.montionplayer_btnplay_6,
.montionplayer_btnplay_8,
.montionplayer_btnplay_9 {
    background-repeat: no-repeat;
    background-position:center;    
}

.montionplayer_btnplay_0 {
    background-image: url("images/play_normal.png");
}

.montionplayer_btnplay_1{
    background-image: url("images/play_hover.png");
}

.montionplayer_btnplay_2{
    background-image: url("images/play_hover.png");
}

.montionplayer_btnplay_4{
    background-image: url("images/pause_normal.png");
}

.montionplayer_btnplay_5{
    background-image: url("images/pause_hover.png");
}

.montionplayer_btnplay_6{
    background-image: url("images/pause_hover.png");
}

.montionplayer_btnplay_disable{
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background-color: #C0C0C0;
}

.montionplayer_sldplay_slipper{
    width: 10px;
    height:18px;
}

.montionplayer_sldplay_slipper_ctrl0 {
    width: 10px;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url("images/0-slider_single.png");
}

.montionplayer_sldplay_track0, .montionplayer_sldplay_track1 {
    height: 4px;
    border: 1px solid #b0b0b0;
    background-color: #e8eae9;
    border-bottom-color: #ffffff;
}

.montionplayer_sldplay_track0 {
    background-color: #c8cac9;
}

.montionplayer_lblspeed {
   color: black;
}

.montionplayer_sldspeed_slipper {
    width: 8px;
    height:16px;
    border: 0px solid #b0b0b0;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position:center 0px;
    background-image: url("images/0-slider_montion.png");
}

.montionplayer_sldspeed_slipper_ctrl0 {
    width: 8px;
}

.montionplayer_sldspeed_trackbg {
  width: 38px;
  height:12px;
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  background-position:center 0px;
  background-image: url("images/slider_trackbg.png");
  overflow: hidden;
}

/** Single slider filter control **/
.singleFC {
   border: 0px solid #999999;
}

.singleFC_sldplay_slipper{
    width: 10px;
    height:18px;
}

.singleFC_sldplay_slipper_ctrl0 {
    width: 10px;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url("images/0-slider_single.png");
}

.singleFC_sldplay_track0, .singleFC_sldplay_track1 {
    height: 4px;
    border: 1px solid #b0b0b0;
    background-color: #e8eae9;
    border-bottom-color: #ffffff;
}

.singleFC_sldplay_track0 {
    background-color: #c8cac9;
}

/** Ranger slider filter control **/
.rangerFC {
   border: 0px solid #999999;
}

.rangerFC_sldplay {
   border: 1px solid #999999;
}

.rangerFC_sldplay_0 {
   border: 1px solid #999999;
}

.rangerFC_sldplay_1 {
   border: 1px solid #999999;
}

.rangerFC_sldplay_slipper {
    width: 100px;
    height: 12px;
    border: 0px solid gray;
}

.rangerFC_sldplay_slipper_ctrl0, 
.rangerFC_sldplay_slipper_ctrl1 {
    width: 12px;
    height:12px;
    background-repeat: no-repeat;
    background-position:center;
}

.rangerFC_sldplay_slipper_ctrl0 {
    background-image: url("images/0-slider_range_start.png");
}

.rangerFC_sldplay_slipper_ctrl1 {
    background-image: url("images/0-slider_range_end.png");
}

.rangerFC_sldplay_track0, 
.rangerFC_sldplay_track1,
.rangerFC_sldplay_track2 {
    height: 12px;
}

.rangerFC_sldplay_track2 {
    background-color: #ffb307;
}

.chart_movecover {
    border: 2px solid #C0C0C0;
    filter: alpha(Opacity = 30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    background-color: #C0C0C0;

    cursor: move;
}

/****** for Advanced Search Panel *******/

.advancedSearchPanel,
.advancedSearchPanel_0, .advancedSearchPanel_1,
.advancedSearchPanel_2, .advancedSearchPanel_4{
    width: 290px;
    height: 26px;
    
    border: 1px solid #C0C0C0;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    background-position: left center;
}

.advancedSearchPanel_0, .advancedSearchPanel_2 {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#ECECEC)); /* Webkit */
    background: -moz-linear-gradient(top, #FFFFFF, #ECECEC); /* FF */
    background: -o-linear-gradient(top, #FFFFFF, #ECECEC); /* Opera11.10+ */
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECECEC", gradientType="0"); /* IE6,IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECECEC", gradientType="0"); /* IE8 */
    background: -ms-linear-gradient(top, #FFFFFF, #ECECEC); /* IE10 */

}

.advancedSearchPanel_16{
    display: none;
}

.adSearchPanel_combo,           
.adSearchPanel_combo_0, .adSearchPanel_combo_1,
.adSearchPanel_combo_2, .adSearchPanel_combo_4,
.adSearchPanel_combo_5, .adSearchPanel_combo_6{
    width: 75px;
    height: 18px;
    
    border: 1px solid #C0C0C0;
    background-color: #FFFFFF;
    overflow: hidden;
}

.adSearchPanel_combo_disable {
    filter: alpha(Opacity = 45);
    -moz-opacity: 0.45;
    opacity: 0.45;
    background: #F5F4EA;

}

.adSearchPanel_combo_dItemContainer,
.adSearchPanel_combo_dItemContainer_0, .adSearchPanel_combo_dItemContainer_1{
    padding: 2px;
    overflow: hidden;
}

.adSearchPanel_combo_dItem,
.adSearchPanel_combo_dItem_0{
    
}
            
.adSearchPanel_combo_dItem_label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.adSearchPanel_combo_dropdown,
.adSearchPanel_combo_dropdown_0, .adSearchPanel_combo_dropdown_2,
.adSearchPanel_combo_dropdown_4, .adSearchPanel_combo_dropdown_6 {
    width: 17px;
    border-left: 1px solid #C0C0C0;
}

.adSearchPanel_combo_dropdown_icon {
    width: 16px;
    height: 16px;
}

.adSearchPanel_button,
.adSearchPanel_button_0, .adSearchPanel_button_1,
.adSearchPanel_button_2, .adSearchPanel_button_4{
    width: 80px;
    height: 18px;
    text-align: center;
    border: 1px solid #C0C0C0;
    background-color: #FFFFFF;
}

.adSearchPanel_button_icon {
    width: 16px;
    height:16px;
    margin-right:2px;
}

.adSearchPanel_button_label {
    height:16px;
    line-height:16px;
    cursor: default;
}

.advancedSearchPanel_input,         
.advancedSearchPanel_input_0, .advancedSearchPanel_input_1,
.advancedSearchPanel_input_2, .advancedSearchPanel_input_4{
    border: 1px solid #C0C0C0; 
    background-color: #FFFFFF;
}           

.advancedSearchPanel_input_16{
    display: none;
}           

.advancedSearchPanel_label_16{
    display: none;
}   

.filter_searchPanel_btnClose_0, .filter_searchPanel_btnClose_2,
.filter_searchPanel_btnClose_4 {
    float:left;
    height: 16px;
    background-color: #FFFFFF;
    background-image: url("../../style/default/images/close_filter.gif");
    background-position: center center;
    width: 14px;
    border: 1px solid #FFFFFF;
}

.filter_searchPanel_btnClose_16{
    display: none;
}

/********* End Advanced Search Panel ********/

/***** TextInputDateTimeField *****/
.textInputDtField,
.textInputDtField_0, .textInputDtField_1 {
    width: 100px;
    height: 20px;
    
    overflow: hidden;
}

.textInputDtField_disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #F5F4EA;
}

.textInputDtField_16{
    display: none;
}

/* TextFieldRender */
.textfieldRender,
.textfieldRender_0, .textfieldRender_1 {
    width: 80px;
    height: 20px;
    
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

.textfieldRender_1 {
    color: #ACA899;
}

.textfieldRender_input {
    background-color: transparent; /* #FFFFFF */
}

.textfieldRender_disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background-color: #F5F4EA;
}

/* For DateTimeField Calendar button */
.dtFieldBtnCalendar,
.dtFieldBtnCalendar_0 {
    width: 16px;
    height: 16px;
}

.dtFieldBtnCalendar,
.dtFieldBtnCalendar_icon {
    width: 16px;
    height: 16px;
}

/***** End TextInputDateTimeField ****/
