.jsvm__app {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.jsvm__outline {
    border: 0px none transparent;
    width:  1px;
    height: 1px;
    background-color: #ffab3f;
}

.jsvm__outline-resizer {
    width:  4px;
    height: 4px;
    background-color: #ff9e00;
}

.jsvm__cover {
    background-color: #eeeeee;
    display: block;
}

.jsvm__cover_16, .jsvm__cover_17 {
    display: none;
}

.jsvm__cover--mask {
    filter: alpha(Opacity = 40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}

/*for framDlg cover*/
.jsvm__cover--modal_cover {
    filter: alpha(Opacity = 40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}

.jsvm__cover--disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.jsvm__cover--loading {
    background-color: transparent;
    
    background-image: url("images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm__cover--loading--noicon {
    background-color: #FFFFFF;
    
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
}

.jsvm__cover--resize {
    filter: alpha(Opacity = 40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    border: 1px solid #F57900;
}

.jsvm__cover--move {
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
}

.jsvm__shadow {
    background: #ffffff;
    border-bottom: #666666;
    border-right: #666666;
    border-top: #666666;
    -webkit-box-shadow: 5px 5px 6px #555555;
    box-shadow: 5px 5px 6px #555555;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#555555', Direction=135, Strength=5);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jsvm_desktop {
    overflow: hidden;
    z-index : 0;
}

.jsvm_desktop_cover--mask {
    filter: alpha(Opacity = 30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    background-color: #000000;
    cursor: default;
}

.jsvm_shadow {
    background: #ffffff;
    border-bottom: #666666;
    border-right: #666666;
    border-top: #666666;
    -webkit-box-shadow: 5px 5px 6px #555555;
    box-shadow: 5px 5px 6px #555555;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#555555', Direction=135, Strength=5);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jsvm--resize-cover {
    filter: alpha(Opacity = 30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    background-color: #C0C0C0;
}

.jsvm_resize_cover {
    border: 2px solid #F57900;
    filter: alpha(Opacity = 30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    background-color: #C0C0C0;
}

.jsvm_move_cover {
    border: 2px solid #C0C0C0;
    filter: alpha(Opacity = 30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    background-color: #C0C0C0;

    cursor: move;
}

.jsvm_mask_cover {
    filter: alpha(Opacity = 20);
    -moz-opacity: 0.2;
    opacity: 0.2;
    background-color: #333333;
}

.jsvm_cover {
    border: 2px solid transparent;
}

/** For Button */
.jsvm_button {
    width: 80px;
    height: 22px;
    text-align: center;
    border: 1px solid #C0C0C0;

    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FBFBFB), to(#EDEDED)); /* Webkit */
    background: -moz-linear-gradient(top, #FBFBFB, #EDEDED); /* FF */
    background: -o-linear-gradient(top, #FBFBFB, #EDEDED); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FBFBFB, #EDEDED); /* IE10+ */
    background: linear-gradient(top, #FBFBFB, #EDEDED); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FBFBFB", endColorstr="#EDEDED", gradientType="0"); /* IE6,IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FBFBFB", endColorstr="#EDEDED", gradientType="0"); /* IE8 */
}

.jsvm_button_1, .jsvm_button_3 {
    color: #ACA899;
    background: #F5F4EA;
    border: 1px solid #C9C7BA;
    
    /* Clear the filter css for IE */
    filter: "";
    -ms-filter: "";
}

.jsvm_button_4, .jsvm_button_6 {
    background: #FFFFFF;
    
    /* Clear the filter css for IE */
    filter: "";
    -ms-filter: "";
}

.jsvm_button_16 {
    display: none;
}

.jsvm_button_marker {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_button_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_button_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
}

.jsvm_button_cover--disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #FFFFFF;
}

/** For the button with icon only **/
.jsvm_iconicBtn {
    width: 22px;
    height: 22px;

    border: 1px solid #C0C0C0;

    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    display: block;
    cursor : pointer;

    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FBFBFB), to(#EDEDED)); /* Webkit */
    background: -moz-linear-gradient(top, #FBFBFB, #EDEDED); /* FF */
    background: -o-linear-gradient(top, #FBFBFB, #EDEDED); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FBFBFB, #EDEDED); /* IE10+ */
    background: linear-gradient(top, #FBFBFB, #EDEDED); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FBFBFB", endColorstr="#EDEDED", gradientType="0"); /* IE6,IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FBFBFB", endColorstr="#EDEDED", gradientType="0"); /* IE8 */
}

.jsvm_iconicBtn_1, .jsvm_iconicBtn_3 {
    background: #F5F4EA;
    border-color: #C9C7BA;
    
    /* Clear the filter css for IE */
    filter: "";
    -ms-filter: "";
}

.jsvm_iconicBtn_4, .jsvm_iconicBtn_6 {
    background: #FFFFFF;

    /* Clear the filter css for IE */
    filter: "";
    -ms-filter: "";    
}

.jsvm_iconicBtn_16{
    display: none;
}

.jsvm_iconicBtn_icon {
    position: absolute;

    width: 16px;
    height: 16px;
}

.jsvm_iconicBtn_1 img[class*="jsvm_iconicBtn_icon"],
.jsvm_iconicBtn_3 img[class*="jsvm_iconicBtn_icon"] {
    filter: alpha(Opacity = 40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}

.jsvm_iconicBtn_cover--disable {
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    background-color: #F5F4EA;
}

/** For Button's effect */
.jsvm_btnEffect_normal,
.jsvm_btnEffect_hover,
.jsvm_btnEffect_trigger {
    background-color: transparent;
    border-width: 1px;

    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.jsvm_btnEffect_normal {
    border-style: solid;
    border-color: transparent;
}

.jsvm_btnEffect_hover {
    border-style: solid;
    border-color: #FAC150;
}

.jsvm_btnEffect_trigger{
    border-style: groove;
    border-color: #FAC150;
}

/** Icon Button*/
.jsvm_iconbtn {
    width:  22px;
    height: 22px;
    cursor: pointer;
}

.jsvm_iconbtn_icon {
    width: 16px;
    height: 16px;
}

.jsvm_iconbtn_1 {

}

.jsvm_iconbtn_cover--disable {
    filter: alpha(Opacity = 20);
    -moz-opacity: 0.2;
    opacity: 0.2;
    background-color: #eeeeee;
}

/** CheckBox */
.jsvm_checkbox {
    width: 200px;
    height: 22px;
    padding: 0px 2px 0px 2px;

    display: block;
}

/* Disable */
.jsvm_checkbox_1,
.jsvm_checkbox_17 {
    color: gray;
}

.jsvm_checkbox_16,
.jsvm_checkbox_17 {
    display: none;
}

.jsvm_checkbox_marker,
.jsvm_checkbox_marker_0, .jsvm_checkbox_marker_4,
.jsvm_checkbox_marker_1, .jsvm_checkbox_marker_5 {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_checkbox_marker_0 {
    background-image: url("images/icon-checkbox-normal.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_checkbox_marker_4 {
    background-image: url("images/icon-checkbox-select.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_checkbox_marker_1 {
    background-image: url("images/icon-checkbox-normal-dis.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_checkbox_marker_5 {
    background-image: url("images/icon-checkbox-select-dis.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_checkbox_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_checkbox_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
}

.jsvm_checkbox_cover--disable{
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    background-color: #F5F4EA;
}

/** RadioBox */
.jsvm_radiobox {
    width: 200px;
    height: 22px;
    padding: 0px 2px 0px 2px;
}

/* Disable */
.jsvm_radiobox_1 {
    color: gray;
}

.jsvm_radiobox_marker,
.jsvm_radiobox_marker_0, .jsvm_radiobox_marker_4,
.jsvm_radiobox_marker_1, .jsvm_radiobox_marker_5 {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_radiobox_marker_0 {
    background-image: url("images/icon-radio-normal.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radiobox_marker_4 {
    background-image: url("images/icon-radio-select.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radiobox_marker_1 {
    background-image: url("images/icon-radio-normal-dis.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radiobox_marker_5 {
    background-image: url("images/icon-radio-select-dis.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radiobox_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_radiobox_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
}

.jsvm_radiobox_cover--disable{
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    background-color: #F5F4EA;
}

/** Radio Button */
.jsvm_radio {
    width: 200px;
    height: 22px;
    padding: 0px 4px 0px 4px;
}

/* Disable */
.jsvm_radio_1 {
    color: gray;
}

.jsvm_radio_marker,
.jsvm_radio_marker_0, .jsvm_radio_marker_4,
.jsvm_radio_marker_1, .jsvm_radio_marker_5 {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_radio_marker_0 {
    background-image: url("images/icon-radio-normal.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radio_marker_4 {
    background-image: url("images/icon-radio-select.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radio_marker_1 {
    background-image: url("images/icon-radio-normal-dis.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radio_marker_5 {
    background-image: url("images/icon-radio-select-dis.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_radio_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_radio_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
}

.jsvm_radio_cover--disable{
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    background-color: #F5F4EA;
}

/** Window */
.jsvm_win {
    border: 2px solid #EEEEEE;
    background-color: #F1F1FA;

    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jsvm_win_title {
    height: 22px;
    background-color: #EEEEEE;
    border-bottom: 2px solid #e6e6e6;
    padding: 0px 2px 0px 6px;
}

.jsvm_win_title_16 {
    visibility: hidden;
}

.jsvm_win_title_label {
    color: #666666;
    font-weight: bold;
}

.jsvm_title_button {
    width: 18px;
    height: 18px;
}

.jsvm_title_button_16, .jsvm_title_button_20{
    visibility: hidden;
}

.jsvm_title_button_icon {
    width: 16px;
    height: 16px;
    /*    padding: 2px;*/
}

.jsvm_win_client {
    border: 0px;
    background-color: #FFFFFF;
    overflow: auto;
    padding: 5px;
}

* [class$="toolbar_cover--disable"] {
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    background-color: #F5F4EA;
}

/** Dialog */
.jsvm_dlg,
.jsvm_interimdlg,
.jsvm_msg, .jsvm_msg_info,
.jsvm_msg_warn, .jsvm_msg_error {
    border: 2px solid #EEEEEE;
    background-color: #F1F1FA;

    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jsvm_dlg_title, .jsvm_msg_title {
    height: 22px;
    background-color: #EEEEEE;
    /*border-bottom: 1px solid #DDDDDD;*/
    padding: 0px 2px 0px 6px;
}

.jsvm_interimdlg_title {
    height: 22px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    padding: 0px 2px 0px 6px;
}

.jsvm_dlg_title_label, 
.jsvm_msg_title_label,
.jsvm_interimdlg_title_label {
    color: #666666;
    font-weight: bold;
}

.jsvm_dlg_client, 
.jsvm_msg_client,
.jsvm_interimdlg_client {
    border-width: 4px 12px 12px 12px;
    border-style: solid;
    border-color: #EEEEEE;
    background-color: #FFFFFF;
    overflow : auto;
}

.jsvm_interimdlg_client {
    background-color: #EEEEEE;
}

.jsvm_dlg_cover--mask,
.jsvm_interimdlg_cover--mask {
    filter: alpha(Opacity = 30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    background-color: #000000;
    cursor: default;
}

.jsvm_dlg_btnpane, 
.jsvm_msg_btnpane,
.jsvm_interimdlg_btnpane {
    height: 34px;
    Background-color: #EEEEEE;
    padding: 0px 12px 12px 12px;
}

/* Dialog within iframe for replacing webreport and pagereport */
.jsvm_frameDlg {
    border: 1px solid #BCBCBC;
    background-color: #F1F1FA;

    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jsvm_frameDlg_title {
    height: 24px;
    background-color: #EEEEEE;
    padding: 0px 2px 0px 6px;
    border-bottom: 1px solid #DDDDDD;
}

.jsvm_frameDlg_title_label {
    color: #666666;
    font-weight: bold;
}

.jsvm_frameDlg_client {
    border: 0px none;
    overflow : auto;
    background-color: #FFFFFF;
}

/*for framDlg cover*/
.frameDlgObj_cover {
    filter: alpha(Opacity = 40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}

/** General Item */
.jsvm_item {
    position: absolute;
    width: 100%;
    height: 22px;
    padding: 2px;
    border: 1px solid #C6C6C6;
    background: #EDEDED;
}

.jsvm_pureItem {
    position: absolute;
    width: 100%;
    height: 22px;
    padding: 2px;
}

.jsvm_item_1 {
    background: #FAFAFA;
}

.jsvm_item_marker,
.jsvm_pureItem_marker {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_item_icon,
.jsvm_pureItem_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_item_sign,
.jsvm_pureItem_sign {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_item_label,
.jsvm_pureItem_label {
    height: 16px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jsvm_item_input,
.jsvm_pureItem_input {
    height: 16px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0px none;
}

.jsvm_item_ctrl,
.jsvm_pureItem_ctrl {
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

.jsvm_container_cover--disable {
    background-color: #FFFFFF;
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
}


/***************** Menu ***************/
/*** jsvm_menu: has mark, has icon ****/
/* jsvm_noIconMenu: has mark, no icon */
/* jsvm_iconicMenu: no mark, has icon */
/* jsvm_simpleMenu: no mark, no icon  */
.jsvm_menu,
.jsvm_noIconMenu,
.jsvm_iconicMenu {
    width: 180px;

    border: 1px solid #e6e6e6;
    background-color: #FFFFFF;

    cursor:default;
    overflow:hidden;
}

.jsvm_simpleMenu {
    width: 160px;

    border: 1px solid #e6e6e6;
    background-color: #FFFFFF;

    cursor:default;
    overflow:hidden;
}

.jsvm_menu_item,
.jsvm_noIconMenu_item,
.jsvm_iconicMenu_item {
    height: 20px;

    cursor:default;
    overflow:hidden;
}

.jsvm_simpleMenu_item {
    height: 20px;
    padding: 0px 4px;

    cursor:default;
    overflow:hidden;
}

.jsvm_menu_item_1, .jsvm_menu_item_3,
.jsvm_noIconMenu_item_1, .jsvm_noIconMenu_item_3,
.jsvm_iconicMenu_item_1, .jsvm_iconicMenu_item_3,
.jsvm_simpleMenu_item_1, .jsvm_simpleMenu_item_3 {
    color: #CCCCCC;
}

.jsvm_menu_item_2,
.jsvm_noIconMenu_item_2,
.jsvm_iconicMenu_item_2,
.jsvm_simpleMenu_item_2 {
    background-color: #ffdf7c;
}

.jsvm_menu_separator,
.jsvm_noIconMenu_separator,
.jsvm_iconicMenu_separator,
.jsvm_simpleMenu_separator {
    height: 1px;
    background-color: #CCCCCC;
}

.jsvm_menu_item_marker,
.jsvm_menu_item_marker_0, .jsvm_menu_item_marker_4,
.jsvm_noIconMenu_item_marker,
.jsvm_noIconMenu_item_marker_0, .jsvm_noIconMenu_item_marker_4 {
    width: 18px;
    height: 20px;
    margin-right: 2px;
    background-color: #CCCCCC;
}

.jsvm_iconicMenu_item_marker,
.jsvm_iconicMenu_item_marker_0, .jsvm_iconicMenu_item_marker_4,
.jsvm_simpleMenu_item_marker,
.jsvm_simpleMenu_item_marker_0, .jsvm_simpleMenu_item_marker_4 {
    width: 0px;
    height: 0px;
}

.jsvm_menu_item_marker_4,
.jsvm_noIconMenu_item_marker_4 {
    background-color: #CCCCCC;
    background-image: url("images/mark.png");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_menu_item_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_noIconMenu_item_icon,
.jsvm_simpleMenu_item_icon {
    width: 0px;
    height: 0px;

    margin-right: 0px;
}

.jsvm_iconicMenu_item_icon {
    width: 16px;
    height: 16px;

    margin-left: 4px;
    margin-right: 4px;
}

.jsvm_menu_item_label,
.jsvm_noIconMenu_item_label,
.jsvm_iconicMenu_item_label,
.jsvm_simpleMenu_item_label {
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.jsvm_menu_item_ctrl,
.jsvm_noIconMenu_item_ctrl,
.jsvm_iconicMenu_item_ctrl,
.jsvm_simpleMenu_item_ctrl {
    width: 16px;
    height: 16px;
    margin-left: 2px;
    background-image: url("images/expand1.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.jsvm_menu_item_1 img[class*="jsvm_menu_item_icon"],
.jsvm_menu_item_3 img[class*="jsvm_menu_item_icon"],
.jsvm_iconicMenu_item_1 img[class*="jsvm_iconicMenu_item_icon"],
.jsvm_iconicMenu_item_3 img[class*="jsvm_iconicMenu_item_icon"] {
    filter: alpha(Opacity = 45);
    -moz-opacity: 0.45;
    opacity: 0.45;
    background-color: #FFFFFF;
}

.jsvm_menu_item_cover--disable,
.jsvm_noIconMenu_item_cover--disable,
.jsvm_iconicMenu_item_cover--disable,
.jsvm_simpleMenu_item_cover--disable {
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    background-color: #FFFFFF;
}

/* Menu bar*/
.jsvm_menubar {
    padding: 6px;
    background-color: #EEE;
}

.jsvm_menubar_item {
    width: 40px;
    height: 18px;
    cursor: default;
    padding: 2px 6px;
    border: solid 1px transparent;
    border-bottom: none 0;
}

.jsvm_menubar_item_2 {
    border-color: #E6E6E6;
    -moz-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #CCCCCC;

}

.jsvm_menubar_item_icon {
    width: 0px;
    height: 0px;
}

.jsvm_menubar_item_label {
    height: 18px;
    line-height: 18px;
    text-align: center;
}

/* Menu for menubar*/
.jsvm_mbMenu,
.jsvm_mbNoIconMenu {
    border:1px solid #e6e6e6;
    background-color:#FFFFFF;
    width:180px;
}

.jsvm_mbMenu_item,
.jsvm_mbNoIconMenu_item {
    height: 20px;
    cursor: default;
}

.jsvm_mbMenu_item_1,
.jsvm_mbNoIconMenu_item_1 {
    color: #CCCCCC;
}

.jsvm_mbMenu_item_2,
.jsvm_mbNoIconMenu_item_2 {
    background-color: #ffdf7c;
}

.jsvm_mbMenu_separator,
.jsvm_mbNoIconMenu_separator {
    height: 1px;
    background-color: #EEEEEE;
}

.jsvm_mbMenu_item_marker,
.jsvm_mbMenu_item_marker_0, .jsvm_mbMenu_item_marker_4,
.jsvm_mbNoIconMenu_item_marker,
.jsvm_mbNoIconMenu_item_marker_0, .jsvm_mbNoIconMenu_item_marker_4 {
    width: 18px;
    height:20px;
    margin-right: 2px;
    background-color: #EEEEEE;
}

.jsvm_mbMenu_item_marker_4,
.jsvm_mbNoIconMenu_item_marker_4 {
    background-image: url("images/mark.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_mbMenu_item_icon {
    width: 16px;
    height:16px;
    margin-right: 2px;
}

.jsvm_mbNoIconMenu_item_icon {
    width: 0px;
    height: 0px;
    margin-right: 0px;
}

.jsvm_mbMenu_item_label,
.jsvm_mbNoIconMenu_item_label {
    height:16px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.jsvm_mbMenu_item_ctrl,
.jsvm_mbNoIconMenu_item_ctrl {
    width: 16px;
    height:16px;
    margin-left: 2px;
    background-image: url("images/expand.gif");
    background-repeat: no-repeat;
    background-position:center;
}

/* Tool bar */
.jsvm_toolbar {
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: gray;
    background-color:#EEE;
    padding: 3px 8px 3px 8px;
}
.jsvm_toolbar_split {
    width: 1px;
    background-color: #B0B0B0;
}

.jsvm_statusbar {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: gray;
    background-color:#EEE;
    padding: 2px;
}

.jsvm_statusbar_space0 {
    height: 1px;
}

.jsvm_statusbar_split {
    width:6px;
    border-left:1px solid #b0b0b0;
}

/* For TextField */
.jsvm_textfield {
    width: 80px;
    height: 20px;

    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding-left: 2px;

    /*
       -moz-border-radius: 3px;
       -khtml-border-radius: 3px;
       -webkit-border-radius: 3px;
       border-radius: 3px;
     */

    overflow: hidden;
}

.jsvm_textfield_1 {

}

.jsvm_textfield_input {
    background-color: #FFFFFF;

    /*
       -moz-border-radius: 3px;
       -khtml-border-radius: 3px;
       -webkit-border-radius: 3px;
       border-radius: 3px;
     */
}

.jsvm_textfield_placeholder {
    white-space: nowrap;
    color: #A9A9A9;
}

.jsvm_textfield_cover--disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background-color: #F5F4EA;
}

/* For List */
.jsvm_list {
    width: 100px;
    height: 160px;

    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;

    overflow: auto;
    display: block;
}

.jsvm_list_16 {
    display: none;
}

.jsvm_list_cover--disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #F5F4EA;
}

/* For ListItem */
/* jsvm_simpleItem: no icon, no marker */
.jsvm_listItem,
.jsvm_simpleItem {
    position: relative;

    width: 100%;
    height: 18px;

    cursor: pointer;
    overflow: hidden;

    display: block;
}

.jsvm_listItem_1,
.jsvm_simpleItem_1 {
    color: #ACA899;
}

.jsvm_listItem_16, .jsvm_listItem_20,
.jsvm_simpleItem_16, .jsvm_simpleItem_20 {
    display: none;
}

.jsvm_listItem_2, .jsvm_listItem_6,
.jsvm_simpleItem_2, .jsvm_simpleItem_6 {
    /*background-color: #FAC150;*/
    color: red;
}

.jsvm_listItem_4, .jsvm_listItem_6,
.jsvm_simpleItem_4, .jsvm_simpleItem_6 {
    background-color: #FDD073;
}

.jsvm_listItem_marker,
.jsvm_listItem_marker_0, .jsvm_listItem_marker_4,
.jsvm_listItem_marker_1, .jsvm_listItem_marker_5 {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_listItem_marker_0 {
    background-image: url("images/icon-checkbox-normal.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_listItem_marker_4 {
    background-image: url("images/icon-checkbox-select.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_listItem_marker_1 {
    background-image: url("images/icon-checkbox-normal-dis.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_listItem_marker_5 {
    background-image: url("images/icon-checkbox-select-dis.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_listItem_label,
.jsvm_simpleItem_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
    text-overflow:ellipsis;
    overflow:hidden;
}

.jsvm_simpleItem_label {
    padding-left: 2px;
}

.jsvm_listItem_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_listItem_highlight,
.jsvm_simpleItem_highlight {
    background: #FEFE66;
}

/* For ComboBox */
.jsvm_comboBox {
    width: 100px;
    height: 20px;

    border: 1px solid #CCCCCC;
    overflow: hidden;

    /*
       -moz-border-radius: 3px;
       -khtml-border-radius: 3px;
       -webkit-border-radius: 3px;
       border-radius: 3px;
     */

    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#ECECEC)); /* Webkit */
    background: -moz-linear-gradient(top, #FFFFFF, #ECECEC); /* FF */
    background: -o-linear-gradient(top, #FFFFFF, #ECECEC); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FFFFFF, #ECECEC); /* IE10+ */
    background: linear-gradient(top, #FFFFFF, #ECECEC); /* w3c */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECECEC", gradientType="0"); /* IE6,IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECECEC", gradientType="0"); /* IE8 */
}

.jsvm_flatCombo {
    width: 100px;
    height: 20px;

    border: 1px solid #CCCCCC;
    overflow: hidden;

    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    background-color: #FFFFFF;
}

.jsvm_comboBox_1,
.jsvm_flatCombo_1 {
    color: #ACA899; /* #CCCCCC */
    background: #F5F4EA;
    
    /* Clear the filter css for IE */
    filter: "";
    -ms-filter: "";
}

.jsvm_comboBox_cover--disable,
.jsvm_flatCombo_cover--disable {
    filter: alpha(Opacity = 45);
    -moz-opacity: 0.45;
    opacity: 0.45;
    background: #F5F4EA;
}

.jsvm_comboBox_dItemContainer,
.jsvm_flatCombo_dItemContainer {
    padding: 2px;
    overflow: hidden;
}

.jsvm_comboBox_dItem,
.jsvm_flatCombo_dItem {
    /* TODO */
}

.jsvm_comboBox_dItem_icon,
.jsvm_flatCombo_dItem_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_comboBox_dItem_sign,
.jsvm_flatCombo_dItem_sign {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_comboBox_dItem_label,
.jsvm_flatCombo_dItem_label {
    height: 16px;
    color: #000000;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jsvm_comboBox_dItem_input,
.jsvm_flatCombo_dItem_input {
    color: #000000;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin: 0px;
    border: 0px none;
}

.jsvm_comboBox_dropdown {
    width: 17px;
    border-left: 1px solid #CCCCCC;
}

.jsvm_flatCombo_dropdown {
    width: 16px;
}

.jsvm_comboBox_dropdown_icon,
.jsvm_flatCombo_dropdown_icon {
    width: 16px;
    height: 16px;
}

.jsvm_dropdownList,
.jsvm_ddList {
    background-color: white;
    border: 1px solid #DDD;
    padding: 2px;

    overflow: hidden;
    cursor: default;

    width: 100px; /*width: 120px;*/
    height: 160px;
}

.jsvm_dropdownList_searchBox,
.jsvm_ddList_searchBox {
    /*
       border-bottom-style: solid;
       border-bottom-width: 1px;
       border-bottom-color: #DDD;
     */

    border: 1px solid #C0C0C0;

    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    overflow: hidden;
}

.jsvm_dropdownList_list,
.jsvm_ddList_list {
    overflow: auto;
}

.jsvm_dropdownList_item,
.jsvm_ddList_item {
    height: 18px;
    overflow: hidden;

    display: block;
}

.jsvm_dropdownList_item_16, .jsvm_dropdownList_item_20,
.jsvm_ddList_item_16, .jsvm_ddList_item_20 {
    display: none;
}

.jsvm_dropdownList_item_2, .jsvm_dropdownList_item_6,
.jsvm_ddList_item_2, .jsvm_ddList_item_6 {
    background-color: #FFDF7C; /* #FAC150 */
}

.jsvm_ddList_item_4 {
    background-color: #FDD073;
}

.jsvm_dropdownList_item_marker,
.jsvm_dropdownList_item_marker_0, .jsvm_dropdownList_item_marker_4 {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_dropdownList_item_marker_0 {
    background-image: url("images/icon-checkbox-normal.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_dropdownList_item_marker_4 {
    background-image: url("images/icon-checkbox-select.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_dropdownList_item_cover--disable,
.jsvm_ddList_item_cover--disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #FFFFFF;
}

.jsvm_dropdownList_item_label,
.jsvm_ddList_item_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
    text-overflow:ellipsis;
    overflow:hidden;
}

.jsvm_dropdownList_item_icon,
.jsvm_ddList_item_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.jsvm_dropdownList_item_sign,
.jsvm_ddList_item_sign {
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.jsvm_dropdownList_item_highlight,
.jsvm_ddList_item_highlight {
    background: #FEFE66;
}

.jsvm_dropdownList_controlBar,
.jsvm_ddList_controlBar {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #DDD;

    padding-right: 4px;

    overflow: hidden;
}

.jsvm_dropdownList_controlBar_label,
.jsvm_ddList_controlBar_label {
    /* TODO */
}

.jsvm_dropdownList_controlBar_label_2,
.jsvm_ddList_controlBar_label_2 {
    color: #8092E0;
    text-decoration: underline;
}

/* For Simple ComboBox */
.jsvm_simpleCombo {
    width: 100px;
    height: 20px;

    border: 1px solid #CCCCCC;
    overflow: hidden;

    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#ECECEC)); /* Webkit */
    background: -moz-linear-gradient(top, #FFFFFF, #ECECEC); /* FF */
    background: -o-linear-gradient(top, #FFFFFF, #ECECEC); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FFFFFF, #ECECEC); /* IE10+ */
    background: linear-gradient(top, #FFFFFF, #ECECEC); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECECEC", gradientType="0"); /* IE6,IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECECEC", gradientType="0"); /* IE8 */
}

.jsvm_simpleCombo_1 {
    color: #ACA899; /* #CCCCCC */
    background: #F5F4EA;
    
    /* Clean filter for IE */
    filter: "";
    -ms-filter: "";
}

.jsvm_simpleCombo_cover--disable {
    filter: alpha(Opacity = 45);
    -moz-opacity: 0.45;
    opacity: 0.45;
    background: #F5F4EA;
}

.jsvm_simpleCombo_dItemContainer {
    padding: 2px;
    overflow: hidden;
}

.jsvm_simpleCombo.dItem {
    /* TODO */
}

.jsvm_simpleCombo_dItem_icon {
    width: 16px;
    height: 16px;
}

.jsvm_simpleCombo_dItem_icon_img {
    width: 16px;
    height: 16px;
}

.jsvm_simpleCombo_dItem_label {
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.jsvm_simpleCombo_dropdown {
    width: 16px;
}

.jsvm_simpleCombo_dropdown_icon {
    width: 16px;
    height: 16px;
}

/** Tree and tree items **/
.jsvm_tree {
    background-color: #FFFFFF;
    padding: 2px;
    overflow: auto;
}

.jsvm_tree_item {
    height: 16px;
    width: 100%;
    /*padding: 3px 0px 3px 0px;*/
    overflow: hidden;
    white-space: nowrap;
    display:block;
}

.jsvm_tree_item_16 {
    display:none;
}

.jsvm_tree_item_1, .jsvm_tree_item_5 {
    background-color:#ffdf7c;
}

.jsvm_tree_item_4 {
    background-color:#ffd070;
}

.jsvm_tree_item_leader,
.jsvm_tree_item_leader0,
.jsvm_tree_item_leader1 {
    width: 16px;
    height:16px;
}

.jsvm_tree_item_leader1 {
    background-image: url("images/leader1.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_tree_item_branch,    .jsvm_tree_item_branch0_0,
.jsvm_tree_item_branch1_0, .jsvm_tree_item_branch2_0,
.jsvm_tree_item_branch3_0, .jsvm_tree_item_branch4_0,
.jsvm_tree_item_branch5_0, .jsvm_tree_item_branch6_0,
.jsvm_tree_item_branch7_0, .jsvm_tree_item_branch4_4,
.jsvm_tree_item_branch5_4, .jsvm_tree_item_branch6_4,
.jsvm_tree_item_branch7_4 {
    width: 16px;
    height:16px;
    background-repeat: no-repeat;
    background-position:center;
    margin-right:2px;
}

.jsvm_tree_item_branch1_0 {
    background-image: url("images/0-marker1.png");
}

.jsvm_tree_item_branch2_0 {
    background-image: url("images/0-marker2.png");
}

.jsvm_tree_item_branch3_0 {
    background-image: url("images/0-marker3.png");
}

.jsvm_tree_item_branch4_0 {
    background-image: url("images/0-marker6.png");
    cursor: pointer;
}

.jsvm_tree_item_branch4_4 {
    background-image: url("images/4-marker6.png");
    cursor: pointer;
}

.jsvm_tree_item_branch5_0 {
    background-image: url("images/0-marker7.png");
    cursor: pointer;
}

.jsvm_tree_item_branch5_4 {
    background-image: url("images/4-marker7.png");
    cursor: pointer;
}

.jsvm_tree_item_branch6_0 {
    background-image: url("images/0-marker6.png");
    cursor: pointer;
}

.jsvm_tree_item_branch6_4 {
    background-image: url("images/4-marker6.png");
    cursor: pointer;
}

.jsvm_tree_item_branch7_0 {
    background-image: url("images/0-marker7.png");
    cursor: pointer;
}

.jsvm_tree_item_branch7_4 {
    background-image: url("images/4-marker7.png");
    cursor: pointer;
}

.jsvm_tree_item_marker,
.jsvm_tree_item_marker_0, .jsvm_tree_item_marker_4 {
    width: 16px;
    height:16px;
    margin-right:2px;
}

.jsvm_tree_item_marker_4 {
    background-image: url("images/mark.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_tree_item_icon {
    width: 16px;
    height:16px;
    margin-right:2px;
}

.jsvm_tree_item_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
    text-overflow:ellipsis;
    overflow:hidden;
}

/* Single item */
.jsvm_tree_moveobj0 {
    width: 120px;
    height: 16px;
    padding: 0px 2px 0px 2px;
    background-color:#ffd070;
}
/* Multiple items */
.jsvm_tree_moveobj1 {
    width: 120px;
    height: 22px;
    padding: 4px 2px 0px 4px;
    background-color:#ffd070;
}
/** End tree **/

.jsvm_hscroll {
    height: 24px;
    overflow: hidden;
}


.jsvm_vscroll {
    width: 24px;
    overflow: hidden;
}

.jsvm_tabpane {

}

.jsvm_tabpane_tabs {
    height: 25px;
    padding: 3px 0px 0px 0px;
    border-bottom: 1px solid #CCC;
}

.jsvm_tabpane_tab {
    width: 80px;
    height: 22px;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    padding: 0px 4px 0px 16px;
    -moz-border-radius:3px 3px 0px 0px;
    border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;

    border-color: #CCC;
    background-color: #f3f3f3;
}

.jsvm_tabpane_tab_1, .jsvm_tabpane_tab_3 {
    border-color: #CCC;
    background-color: #f3f3f3;
}

.jsvm_tabpane_tab_4 {
    height: 20px !important;
    border-color: #FAC150 #CCC #fafafa #CCC;
    background-color: #fafafa;
}

.jsvm_tabpane_tab_cover--disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #FFFFFF;
}

.jsvm_tabpane_tab_label {
    height: 16px;
    cursor: default;
}

.jsvm_tabpane_panes {
    border-width: 1px;
    border-color: #CCC;
    border-style: none solid solid solid;
    background-color: #fafafa;
    padding: 12px;
    -moz-border-radius:0px 0px 3px 3px;
    border-radius:0px 0px 3px 3px;
    -webkit-border-radius:0px 0px 3px 3px;
}

.jsvm_tabpane_panes > * {
    background-color: #fafafa;
}

.jsvm_tabpane_panes_cover--disable {
    filter: alpha(Opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: #FFFFFF;
}

.jsvm_fieldset {
    margin: 0px;
    padding: 22px 12px 11px 12px;
    border: 1px solid #ccc;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-border-radius:6px;
}

.jsvm_fieldset legend {

}

/* FOR FileInput */
.jsvm_fileinput_file{
    background-color:red;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: default;
}

/** For FileUploader (Replace FileInput) **/
.jsvm_fileUploader {
    width: 162px;
    height: 18px;
}

.jsvm_fileUploader_fileField {
    width: 100px;
    height: 18px;
    
    padding-left: 1px;
}

.jsvm_fileUploader_btnFileBrowse {
    width: 60px;
    height: 18px;
}

/** Default single Slider **/
.jsvm_slider_single, .jsvm_slider_single_0 {
    left: 10px; top: 10px;
    width: 400px;
    height: 40px;
    border: 1px solid #999999;
}

.jsvm_slider_single_slipper {
    width: 10px;
    height:18px;
}

.jsvm_slider_single_slipper_ctrl0 {
    width: 10px;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url("images/0-slider_single.png");
}

.jsvm_slider_single_track0, .jsvm_slider_single_track1 {
    height: 4px;
    border: 1px solid #b0b0b0;
    background-color: #e8eae9;
    border-bottom-color: #ffffff;
}

.jsvm_slider_single_track0 {
    background-color: #ffb307;
}

/** Default ranger Slider **/
.jsvm_slider_ranger {
    left: 10px; top: 60px;
    width: 400px;
    height: 14px;
    border: 1px solid #999999;
}

.jsvm_slider_ranger_slipper {
    width: 100px;
    height: 12px;
    border: 0px solid gray;
}

.jsvm_slider_ranger_slipper_ctrl0,
.jsvm_slider_ranger_slipper_ctrl1 {
    width: 12px;
    height:12px;
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_slider_ranger_slipper_ctrl0 {
    background-image: url("images/0-slider_range_start.png");
}

.jsvm_slider_ranger_slipper_ctrl1 {
    background-image: url("images/0-slider_range_end.png");
}

.jsvm_slider_ranger_track0,
.jsvm_slider_ranger_track1,
.jsvm_slider_ranger_track2 {
    height: 12px;
}

.jsvm_slider_ranger_track2 {
    background-color: #ffb307;
}


/** Default vertial spinner **/
.jsvm_vspinner {
    width: 15px;
    height: 17px;
}

.jsvm_vspinner_ctrl0,
.jsvm_vspinner_ctrl0_0,
.jsvm_vspinner_ctrl0_1,
.jsvm_vspinner_ctrl0_2 {
    height:10px;
    border: 1px solid #999999;
    border-width: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_vspinner_ctrl0,
.jsvm_vspinner_ctrl0_0 {
    background-image: url("images/0-sp_up.png");
}

.jsvm_vspinner_ctrl0_1,
.jsvm_vspinner_ctrl0_2 {
    background-image: url("images/2-sp_up.png");
}

.jsvm_vspinner_ctrl1,
.jsvm_vspinner_ctrl1_0,
.jsvm_vspinner_ctrl1_1,
.jsvm_vspinner_ctrl1_2 {
    height:10px;
    border: 1px solid #999999;
    border-width: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_vspinner_ctrl1,
.jsvm_vspinner_ctrl1_0 {
    background-image: url("images/0-sp_dn.png");
}

.jsvm_vspinner_ctrl1_1,
.jsvm_vspinner_ctrl1_2 {
    background-image: url("images/2-sp_dn.png");
}

/** Calendar **/
.jsvm_calendar {
    /*    border: 1px solid #c0c0c0;*/
    width: 230px;
    height:140px;
    /*    background: #f5f5f5;*/
}

.jsvm_calendar_cell {
    text-align: center;
    cursor: default;
    border:1px solid transparent;
}

.weekcell {
    color: #999999;
    font-weight: bold;
}

.outmonth{
    color: #c0c0c0;
}

.today {
    background: #b3b3b3;
    border:1px solid #999999;
}

.selectday {
    background: #ffdf7c;
}

.hovercell {
    background: #cccccc;
}

.jsvm_fieldspinner {
    width: 100px;
    height:20px;
    border: 1px solid #cccccc;
    padding: 0px 0px 0px 2px;
}

.jsvm_datepicker {
    width:  230px;
    height: 190px;
    /*    background: #f5f5f5;*/
}

.jcalendar {
    border: 1px solid #999999;
    background: #f5f5f5;
}

.jsvm_textarea {
    border: 1px solid #cccccc;
    background: white;
}


/** tree style (Copy from dashboard.css) **/
.rspanel_tree {
    border: 0px;
    background-color: #FFFFFF;
    overflow: auto;
    padding: 5px 0px 0px 5px;
}

.rspanel_tree_item {
    height: 22px;
    width: 100%;
    padding: 3px 0px 3px 0px;
    overflow: hidden;
    white-space: nowrap;
    display:block;
}

.rspanel_tree_item_16,
.rspanel_tree_item_17,
.rspanel_tree_item_20,
.rspanel_tree_item_22{
    display:none;
}

.rspanel_tree_item_2, .rspanel_tree_item_6 {
    background-color:#ffdf7c;
}

.rspanel_tree_item_4 {
    background-color:#ffd070;
}

.rspanel_tree_item_leader,
.rspanel_tree_item_leader0,
.rspanel_tree_item_leader1 {
    width: 16px;
    height:16px;
}

.rspanel_tree_item_branch,
.rspanel_tree_item_branch_0, .rspanel_tree_item_branch_4,
.rspanel_tree_item_branch0_0,
.rspanel_tree_item_branch1_0, .rspanel_tree_item_branch2_0,
.rspanel_tree_item_branch3_0, .rspanel_tree_item_branch4_0,
.rspanel_tree_item_branch5_0, .rspanel_tree_item_branch6_0,
.rspanel_tree_item_branch7_0, .rspanel_tree_item_branch4_4,
.rspanel_tree_item_branch5_4, .rspanel_tree_item_branch6_4,
.rspanel_tree_item_branch7_4 {
    width: 16px;
    height:16px;
    background-repeat: no-repeat;
    background-position:center;
    margin-right:2px;
}

.rspanel_tree_item_branch4_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.rspanel_tree_item_branch4_4 {
    background-image: url("images/0-collapse.png");
    cursor: pointer;
}

.rspanel_tree_item_branch5_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.rspanel_tree_item_branch5_4 {
    background-image: url("images/4-collapse.png");
    cursor: pointer;
}

.rspanel_tree_item_branch6_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.rspanel_tree_item_branch6_4 {
    background-image: url("images/4-collapse.png");
    cursor: pointer;
}

.rspanel_tree_item_branch7_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.rspanel_tree_item_branch7_4 {
    background-image: url("images/4-collapse.png");
    cursor: pointer;
}

.rspanel_tree_item_marker,
.rspanel_tree_item_marker_0, .rspanel_tree_item_marker_4 {
    width: 16px;
    height:16px;
    margin-right:2px;
}

.rspanel_tree_item_marker_4 {
    background-image: url("images/mark.png");
    background-repeat: no-repeat;
    background-position:center;
}

.rspanel_tree_item_icon {
    width: 16px;
    height:16px;
    margin-right:2px;
}

.rspanel_tree_item_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
    text-overflow:ellipsis;
    overflow:hidden;
}

/********** Begin of Table *********/
.jsvm_table {
    top: 0 !important;
    border-collapse:collapse;
}

.jsvm_table_headerHolder {
    Background-color: #ffffff;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
    background: url(images/title_background.png) repeat;
}

.jsvm_table_header {
    border-right: 1px solid #CCCCCC;
}

.jsvm_table_header_ctrl {
    display: none;
    top: 6px !important;
    text-indent: 2px;
}

.jsvm_table_header_label {
    top: 6px !important;
    text-indent: 3px;
}

.jsvm_table_header_ctrl_1 {
    width: 16px;
    height:16px;
    top: 6px !important;
    background-repeat: no-repeat;
    background-image: url("images/2-sortasc.gif");
}

.jsvm_table_header_ctrl_2 {
    width: 16px;
    height:16px;
    top: 6px !important;
    background-repeat: no-repeat;
    background-image: url("images/2-sortdesc.gif");
}

.jsvm_table_row_hover {
    cursor: pointer;
    background: #ffdf7c;
}

.jsvm_table_cell_0 {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
    padding:0;
}

.jsvm_table_bodyHolder {
    Background-color: #ffffff;
    border: 1px solid #CCCCCC;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}
/********** End of Table ***********/

/*** For cover of widow.showModalDialog invoking ***/
.layout_mask,
.modal_cover {
    position:absolute;
    filter: alpha(Opacity = 30);
    -moz-opacity: 0.3;
    opacity: 0.3;

    background-color:#333333;
    /* border: 2px solid #ffd0c0; */
    left: 0px;
    top: 0px;
}

/*********** For FlatTree ************/
.jsvm_flatTree {
    border: 0px;
    background-color: #FFFFFF;
    overflow: auto;
    padding: 2px 2px 2px 6px;
}

.jsvm_flatTree_treeshell {
    padding: 0px;
}

.jsvm_flatTree_moveobj0, .jsvm_flatTree_moveobj1 {
    padding: 2px 4px;
    background-color: #FFFFFF;
}

.jsvm_flatTree_item {
    height: 18px;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    display:block;
}

.jsvm_flatTree_item_16 {
    display:none;
}

/* Disable */
.jsvm_flatTree_item_1 {
    color: gray;
    cursor: default;
}

.jsvm_flatTree_item_2, .jsvm_flatTree_item_6 {
    cursor: pointer;
}

.jsvm_flatTree_item_4 {
    cursor: pointer;
}

.jsvm_flatTree_item_leader,
.jsvm_flatTree_item_leader0,
.jsvm_flatTree_item_leader1 {
    width: 0px;
    height: 0px;
}

.jsvm_flatTree_item_branch,
.jsvm_flatTree_item_branch_0, .jsvm_flatTree_item_branch_4,
.jsvm_flatTree_item_branch0_0,
.jsvm_flatTree_item_branch1_0, .jsvm_flatTree_item_branch2_0,
.jsvm_flatTree_item_branch3_0, .jsvm_flatTree_item_branch4_0,
.jsvm_flatTree_item_branch5_0, .jsvm_flatTree_item_branch6_0,
.jsvm_flatTree_item_branch7_0, .jsvm_flatTree_item_branch4_4,
.jsvm_flatTree_item_branch5_4, .jsvm_flatTree_item_branch6_4,
.jsvm_flatTree_item_branch7_4 {
    width: 0px;
    height: 0px;
}

.jsvm_flatTree_item_branch4_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.jsvm_flatTree_item_branch4_4 {
    background-image: url("images/0-collapse.png");
    cursor: pointer;
}

.jsvm_flatTree_item_branch5_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.jsvm_flatTree_item_branch5_4 {
    background-image: url("images/4-collapse.png");
    cursor: pointer;
}

.jsvm_flatTree_item_branch6_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.jsvm_flatTree_item_branch6_4 {
    background-image: url("images/4-collapse.png");
    cursor: pointer;
}

.jsvm_flatTree_item_branch7_0 {
    background-image: url("images/0-expand.png");
    cursor: pointer;
}

.jsvm_flatTree_item_branch7_4 {
    background-image: url("images/4-collapse.png");
    cursor: pointer;
}

.jsvm_flatTree_item_marker,
.jsvm_flatTree_item_marker_0, .jsvm_flatTree_item_marker_4 {
    width: 16px;
    height:16px;
    margin-right:2px;
}

.jsvm_flatTree_item_marker_0 {
    background-image: url("images/icon-checkbox-normal.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_flatTree_item_marker_4 {
    background-image: url("images/icon-checkbox-select.png");
    background-repeat: no-repeat;
    background-position:center;
}

.jsvm_flatTree_item_icon {
    width: 16px;
    height:16px;
    margin-right:2px;
}

.jsvm_flatTree_item_label {
    height: 16px;
    line-height: 16px;
    cursor: default;
    text-overflow:ellipsis;
    overflow:hidden;
    cursor: pointer;
}

.jsvm_flatTree_item_1 span {
    cursor: default;
}

.jsvm_flatTree_item_highlight {
    background-color: #FFFF5F;
    cursor: pointer;
}

.jsvm_flatTree_item_highlight_focus {
    background-color: #FFA747;
    cursor: pointer;
}
/******** End FlatTree ************/

/*********** For ToolTip ************/
.jsvm__tip-layer {
    color: #FFFFFF;
    background-color: black; /* #FFFF9F; */

    padding: 2px;

    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    cursor: default;
}

.jsvm_tipLabel {
    line-height: 15px;
}

.jsvm_tipObj {
    position: absolut;
    display: block;

    line-height: 15px;
}

/*********** End ToolTip ************/

/************* For Board ************/
.jsvm_board {
    border: 1px solid #EEEEEE;
}

.jsvm_board_label {
    display: block;

    font-weight: bold;
    color: #505050;

    text-align: right;
}

.jsvm_board_field {
    background-color:transparent;

    font-weight: bold;
    color: red;

    padding: 0px 2px;
    border: 0 none;
}
/*********** End For Board ***********/

/*********** For Separator Line ***********/
.jsvm_hr {
    border-width: 1px;
    border-style: inset;
    border-top-color: #EEEEEE; 
    border-bottom-color: #FFFFFF;
    border-left-color: transparent;
    border-right-color: transparent;
}
/********* End For Separator Line *********/
